*{
    padding: 0em;
    margin: 0em;
}

html{
    font-family: roboto CONDENSED;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 2.3em;
    font-size: 3.8rem;
    justify-content:space-between;
    align-items: center;
    background-color: #212121;
}

#logo-header{
    width: 3.3em;
    height: 2.5em;
    padding-left: .5em;
}

nav{
    font-size: 1rem;
    padding-right: 2em;
}

.menu-header{
    font-family: bebas NEUE;
    font-size: 1.3em;
    color: #ffff;
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em;
}












/*-------------------------------RESPONSIVE----------------------------------*/

@media (max-width: 375px){

}





/*
DATOS:
------------------
negro
#212121
amarillo
#F9E721

TITULOS. BEBAS NEUE
TEXTOS: ROBOTO CONDENSED
NOTAS COMENTARIOS: OLD STANDARD 
*/