*{
    padding: 0em;
    margin: 0em;
}

html{
    font-family: roboto CONDENSED;
}
/*-------------------------------SECTION 1----------------------------------*/
header{
    position: relative;
    position: fixed;
    display: flex;
    width: 100%;
    height: 2.3em;
    font-size: 3.8rem;
    justify-content:space-between;
    align-items: center;
    background-color: #212121;
    z-index: 100;
}

#logo-header{
    width: 3.3em;
    height: 2.5em;
    padding-left: .5em;
}

#nav-menu{
    font-size: 1rem;
    padding-right: 1.2em;
}

.menu-header{
    font-family: bebas NEUE;
    font-size: 1.3em;
    color: #ffff;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}

.menu-header:hover{
    background-color: #F9E721;
    transition: .7s;
}

/*--------MENU DESPLEGABLE MOBILE--------*/
#cont-menudespl-mobile{
    display: none;
}

/*--------BTN HAMBUR--------*/
#cont-btn-hambur{
    display: none;
}

#hambur-check{
    display: none;
}

#menu-mobile{
    visibility: hidden;
}

#cross-mobile{
    visibility: hidden;
}
/*-------------------------------SECTION 2----------------------------------*/
#conteiner-sec2{
    font-size: 3rem;
    
}

#video-explo{
    margin-top: 2.9em;
    position: relative;
    width: 100%;
    height: 15em;
    border: solid 2px red;
    z-index: 90;
    
}

/*-------------------------------RESPONSIVE----------------------------------*/
/*
@media (max-width: 1280px){

}*/

@media (max-width: 375px){
/*----------------SECTION 1----------------*/
    header{
        font-size: 2.5rem;
    }
    
    #nav-menu{
        font-size: .6rem;
        visibility: hidden;
    }

/*--------BTN HAMBUR--------*/
#cont-btn-hambur{
    display: block;
}

#menu-mobile{
    visibility: visible;
    width: 1em;
    margin-right: .7em;   
}

#cross-mobile{
    display: none;
    visibility: hidden;
    width: .9em;
    height: .9em;
    margin-right: .7em;
}

#hambur-check:checked ~ * #menu-mobile{
    display: none;
    visibility: hidden;
}

#hambur-check:checked ~ * #cross-mobile{
    display: block;
    visibility: visible;
}

/*--------MENU DESPLEGABLE MOBILE--------*/
#cont-menudespl-mobile{
    display: block;
    position: absolute;
    background-color: #212121;
    margin-top: 7.3em;
    width: 100%;
    visibility: hidde;
   /* border-top: double 5px #ffff; */
}

#nav-desp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 5em;
}

.menu-despl{
    font-family: bebas NEUE;
    font-size: .7em;
    color: #ffff;
    text-decoration: none;
}

#hambur-check:checked ~ * #cont-menudespl-mobile{
    visibility: visible;
    
}


/*----------------SECTION 2----------------*/
    #conteiner-sec2{
        font-size: 1.99rem;
    }

}





/*
DATOS:
------------------
negro
#212121
amarillo
#F9E721

TITULOS. BEBAS NEUE
TEXTOS: ROBOTO CONDENSED
NOTAS COMENTARIOS: OLD STANDARD 
*/