*{
    padding: 0px;
    margin: 0px;
}

html{
    font-family: roboto CONDENSED;
}
/*-------------------------------HEADER----------------------------------*/
header{
    position: relative;
    position: fixed;
    display: flex;
    width: 100%;
    height: 2.3em;
    font-size: 3.8rem;
    justify-content:space-between;
    align-items: center;
    background-color: #212121;
    z-index: 100;
}

#logo-header{
    width: 3.3em;
    height: 2.5em;
    padding-left: .5em;
}

#nav-menu{
    font-size: 1rem;
    padding-right: 1.2em;
}

.menu-header{
    font-family: bebas NEUE;
    font-size: 1.3em;
    color: #ffff;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}

.menu-header:hover{
    text-decoration: underline;
    color: #F9E721;
    transition: .7s;
}

/*--------MENU DESPLEGABLE MOBILE--------*/
#nav-desp{
    display: none;
    visibility: hidden;
}

/*--------BTN HAMBUR--------*/
#cont-btn-hambur{
    display: none;
}

#hambur-check{
    display: none;
}

#menu-mobile{
    visibility: hidden;
}

#cross-mobile{
    visibility: hidden;
}
/*-------------------------------SECTION 1----------------------------------*/
#conteiner-sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 900px;
    
    background: url("imgs/explooo.gif");
    background-size: cover;
    background-position: center;
}

#text-conteiner{
    font-size: 3rem;
    text-align: center;
    height: auto;
}

#tu-idea{
    font-family: bebas NEUE;
    font-size: 1.5em;
    padding-top: .7em ;
    padding-bottom: .7em;
    color: #ffff;
    margin-bottom: .2em;
}

#dupla{
    font-family: bebas NEUE;
    color: #ffff;
    font-size: .7em;
    margin-top: 1em;
    padding-top: .7em ;
    padding-bottom: .7em ;
}

#conocenos{
    font-size: .4em;
    background-color: #F9E721;
    margin-top: 3em;
    padding: .5em ;
    
}

span{
    text-decoration: underline;
}

/*-------------------------------SECTION 2----------------------------------*/
#conteiner-sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

#desafios{
    font-family: bebas NEUE;
}

#contact{
    font-family: roboto CONDENSED;
}

/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
/*
@media (max-width: 1280px){

}*/

@media (max-width: 768px){

/*-------------------------------SECTION 1----------------------------------*/
    #video-explo{
        display: none;
    }

    #conocenos{
        font-size: .5em;
    }


}

@media (max-width: 621px){
    /*--------BTN HAMBUR--------*/
    #cont-btn-hambur{
        display: block;
    }

    #menu-mobile{
        visibility: visible;
        width: 1em;
        margin-right: .7em;   
    }

    #cross-mobile{
        display: none;
        visibility: hidden;
        width: .9em;
        height: .9em;
        margin-right: .7em;
    }

    #hambur-check:checked ~ * #menu-mobile{
        display: none;
        visibility: hidden;
    }

    #hambur-check:checked ~ * #cross-mobile{
        display: block;
        visibility: visible;
    }

    #nav-menu{
        font-size: .6rem;
        visibility: hidden;
    }

}

@media (max-width: 375px){
/*----------------HAMBUR----------------*/
    header{
        font-size: 2.5rem;
    }
    
    #nav-menu{
        font-size: .6rem;
        visibility: hidden;
    }

    /*--------BTN HAMBUR--------*/
    #cont-btn-hambur{
        display: block;
    }

    #menu-mobile{
        visibility: visible;
        width: 1em;
        margin-right: .7em;   
    }

    #cross-mobile{
        display: none;
        visibility: hidden;
        width: .9em;
        height: .9em;
        margin-right: .7em;
    }

    #hambur-check:checked ~ * #menu-mobile{
        display: none;
        visibility: hidden;
    }

    #hambur-check:checked ~ * #cross-mobile{
        display: block;
        visibility: visible;
    }

    /*--------MENU DESPLEGABLE MOBILE--------*/
    /*#cont-menudespl-mobile{
        display: block;
        position: absolute;
        background-color: #212121;
        margin-top: 7.3em;
        width: 100%;
        border-top: double 5px #ffff; */

/*-------------------------------SECTION 1----------------------------------*/
    
    #conteiner-sec1{
        height: 600px;
    }

    #text-conteiner{
        font-size: 1.8em;
    }


/*-----------------------------------------------------------------*/ 
    #nav-desp{
        display: flex;
        position: absolute;
        background-color: #212121;
        margin-top: 7.3em;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 5em;
    }
    
    .menu-despl{
        font-family: bebas NEUE;
        font-size: .7em;
        color: #ffff;
        text-decoration: none;
    }
    
    #hambur-check:checked ~ * #nav-desp{ /* NO ANDA: buscar solucion*/
        visibility: visible;
        
    }





}







/*
DATOS:
------------------
negro
#212121
amarillo
#F9E721

TITULOS. BEBAS NEUE
TEXTOS: ROBOTO CONDENSED
NOTAS COMENTARIOS: OLD STANDARD 
*/