* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: roboto CONDENSED;
}

/*-------------------------------HEADER----------------------------------*/

#header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 2.3em;
  font-size: 3.8rem;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  z-index: 1000;
}

#logo-header {
  width: 1em;
  height: 0.8em;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}

#nav-menu {
  display: flex;
  font-size: 1rem;
  padding-right: 1.2em;
}

.menu-header {
  font-family: bebas NEUE;
  font-size: 1.3em;
  color: #ffff;
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
}

.menu-header:hover {
  text-decoration: underline;
  color: #f9e721;
  transition: 0.7s;
}

.qhMenu {
  display: none;
}

.queHacemos {
  position: relative;
}

.queHacemos:hover .qhMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #ffff;
  background-color: #212121;
  padding: 1em;
}

.queHacemos:hover .qhMenu a {
  font-size: 0.9em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/*--------------------------------BTN HAMBUR--------------------------------*/
#cont-btn-hambur {
  display: none;
  font-size: 3.5rem;
}

#hambur-check {
  display: none;
}

#menu-mobile {
  visibility: hidden;
}

#cross-mobile {
  visibility: hidden;
}
/*--------MENU DESPLEGABLE MOBILE--------*/
#nav-desp {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 3em;
  visibility: hidden;
  z-index: 999;
}

/*-------------------------------SECTION 1----------------------------------*/
#conteiner-sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  width: 100%;
  height: 800px;

  background: url("../imgs/explooo.gif");
  background-size: cover;
  background-position: center;
}

#text-conteiner {
  font-size: 3rem;
  text-align: center;
  height: auto;
}

#tu-idea {
  font-family: bebas NEUE;
  font-size: 1.5em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: #ffff;
  margin-bottom: 0.2em;
}

#dupla {
  font-family: bebas NEUE;
  color: #ffff;
  font-size: 0.7em;
  margin-top: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.conocenos {
  width: 10em;
  font-family: roboto CONDENSED 700;
  font-size: 0.5em;
  background-color: #f9e721;
  margin-top: 3em;
  padding: 0.5em;
  border-radius: 8%;
}

span {
  text-decoration: underline;
}

/*-------------------------------SECTION 2----------------------------------*/
#conteiner-sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20em;
  font-size: 1rem;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

#desafios {
  font-family: bebas NEUE;
  font-size: 4em;
  color: #212121;
}

#contact {
  font-family: roboto CONDENSED;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: #212121;
}

.section2-redes {
  width: 3em;
  height: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

/*-------------------------------CAROUSEL----------------------------------*/
#carousel1 {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  height: 24em;
  background-color: #212121;
}

.portfolio-title {
  position: absolute;
  top: 0;
  margin-top: 0.1em;
  width: 100%;
  text-align: center;
  font-family: bebas NEUE;
  font-size: 2em;
  color: #ffff;
}

.carousel-inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 1.5em;
}

.carousel-item {
  width: 100%;
  text-align: center;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-carou {
  width: 18em;
  height: 18em;
}

.behance-text {
  font-size: 0.8em;
  color: #ffff;
  padding-top: 0.5em;
}

.behance-text:hover {
  color: #f9e721;
  text-decoration: none;
}

/*-------------------------------IGFEED----------------------------------*/
.instaFeed-conteiner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  margin-top: 1em;
  margin-bottom: 1em;
}

.directIGfeed {
  width: 70em;
  height: 60em;
  margin-left: 8em;
  overflow-y: hidden;
}

a img {
  width: 20em;
  height: 20em;
}

/*-------------------------------FOOTER----------------------------------*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 5em;
}

.redes-foot {
  display: flex;
}

.redes-foot-imgs {
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.contact-foot {
  text-align: center;
}

.footer-text-size {
  font-size: 0.4em;
  font-family: roboto CONDENSED;
  color: #7a7a7a;
}

.city-foot {
  display: flex;
}

/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/

@media (max-width: 768px) {
  /*-------------------------------SECTION 1----------------------------------*/
  #video-explo {
    display: none;
  }

  #conocenos {
    font-size: 0.5em;
  }

  /*-------------------------------FOOTER----------------------------------*/
  .footer {
    font-size: 1.5rem;
  }

  .directIGfeed {
    width: 70em;
    height: 30em;
    margin-left: 8em;
    overflow-y: hidden;
  }
  a img {
    width: 10em;
    height: 10em;
  }
}

@media (max-width: 621px) {
  /*--------BTN HAMBUR--------*/
  #cont-btn-hambur {
    display: block;
  }
  #menu-mobile {
    visibility: visible;
    width: 1em;
    margin-right: 0.7em;
  }
  #cross-mobile {
    display: none;
    visibility: hidden;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.7em;
  }
  #hambur-check:checked ~ * #menu-mobile {
    display: none;
    visibility: hidden;
  }
  #hambur-check:checked ~ * #cross-mobile {
    display: block;
    visibility: visible;
  }
  #hambur-check:checked ~ * #nav-desp {
    display: block;
    visibility: visible;
  }
  #nav-menu {
    font-size: 0.6rem;
    visibility: hidden;
  }
  #nav-desp {
    display: flex;
    bottom: 0;
    padding-top: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #212121;
  }
  .menu-despl {
    font-family: bebas NEUE;
    font-size: 0.7em;
    color: #ffff;
    text-decoration: none;
  }

  /*-------------------------------SECTION 2----------------------------------*/
  #desafios {
    text-align: center;
  }

  /*--------------------------------CAROUSEL---------------------------------*/
  #carousel1 {
    font-size: 1.5rem;
  }

  /*-------------------------------IGFEED----------------------------------*/

  /*-------------------------------FOOTER----------------------------------*/
  .footer {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  /*----------------HAMBUR----------------*/
  #header {
    font-size: 2.5rem;
  }

  #nav-menu {
    font-size: 0.6rem;
    visibility: hidden;
  }

  /*--------BTN HAMBUR--------*/
  #menu-mobile {
    visibility: visible;
    width: 1em;
    margin-right: 0.7em;
    width: 0.5em;
    height: 0.5em;
  }

  #cross-mobile {
    display: none;
    visibility: hidden;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.7em;
    width: 0.5em;
    height: 0.5em;
  }

  #hambur-check:checked ~ * #menu-mobile {
    display: none;
    visibility: hidden;
  }

  #hambur-check:checked ~ * #cross-mobile {
    display: block;
    visibility: visible;
  }
  #nav-desp {
    font-size: 2em;
  }

  /*-------------------------------SECTION 1----------------------------------*/
  #conteiner-sec1 {
    height: 500px;
    margin-top: 90px;
  }

  #text-conteiner {
    font-size: 1.8em;
  }

  /*-------------------------------SECTION 2----------------------------------*/
  #conteiner-sec2 {
    font-size: 0.6em;
  }
  /*--------------------------------CAROUSEL---------------------------------*/
  #carousel1 {
    font-size: 1rem;
  }

  /*-------------------------------FOOTER----------------------------------*/

  .footer {
    font-size: 0.8rem;
  }

  @media (max-width: 350px) {
    #header {
      justify-content: center;
    }

    #logo-header {
      margin-left: 1em;
    }

    #conteiner-sec1 {
      height: 400px;
    }
  }
}
