* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: roboto CONDENSED;
}
/*-------------------------------HEADER----------------------------------*/
#header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 2.3em;
  font-size: 3.8rem;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  z-index: 1000;
}

#logo-header {
  width: 1em;
  height: 0.8em;
  margin-left: 0.5em;
}

#nav-menu {
  display: flex;
  font-size: 1rem;
  padding-right: 1.2em;
}

.menu-header {
  font-family: bebas NEUE;
  font-size: 1.3em;
  color: #ffff;
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
}

.menu-header:hover {
  text-decoration: underline;
  color: #f9e721;
  transition: 0.7s;
}

.qhMenu {
  display: none;
}

.queHacemos {
  position: relative;
}

.queHacemos:hover .qhMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #ffff;
  background-color: #212121;
  padding: 1em;
}

.queHacemos:hover .qhMenu a {
  font-size: 0.9em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/*--------------------------------BTN HAMBUR--------------------------------*/
#cont-btn-hambur {
  display: none;
  font-size: 3.5rem;
}

#hambur-check {
  display: none;
}

#menu-mobile {
  visibility: hidden;
}

#cross-mobile {
  visibility: hidden;
}
/*--------MENU DESPLEGABLE MOBILE--------*/
#nav-desp {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 3em;
  visibility: hidden;
  z-index: 999;
}

/*-------------------------------LA DUPLA CREATIVA----------------------------------*/
.cont-title-dupla {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  height: auto;
  margin-top: 5em;
  margin-bottom: 1em;
}

.title-dupla {
  color: #7a7a7a;
}

span {
  font-weight: bold;
}

.duplacreativa {
  font-size: 2em;
  font-family: bebas NEUE;
}

.yingyang {
  font-size: 0.7em;
  font-family: roboto CONDENSED;
  font-weight: 500;
}

.cont-dupla {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
  height: auto;
  margin-bottom: 1.8em;
}

.cont-mar {
  display: flex;
  flex-direction: column;

  width: 16.9em;
  height: auto;
  text-align: justify;
  margin-right: 0.3em;
}

.cont-sol {
  display: flex;
  flex-direction: column;

  width: 16.9em;
  height: auto;
  text-align: justify;
  margin-left: 0.3em;
}

.vid-chicas {
  height: 30em;
}

.marysol {
  font-family: bebas NEUE;
  font-size: 1.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: #7a7a7a;
}

.text-chicas {
  font-size: 0.7em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-family: roboto CONDENSED;
  color: #7a7a7a;
}

/*-------------------------------HISTORIA----------------------------------*/
.cont-historia {
  width: 100%;
  height: auto;
  background-color: #212121;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.cont-elements-histo {
  display: flex;
  flex-direction: column;
  width: 34.9em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.asi-arranco {
  font-size: 1.5em;
  font-family: bebas NEUE;
  width: 100%;
  color: #7a7a7a;
}

.podriamos-decir {
  font-size: 0.8em;
  width: 100%;
  font-family: roboto CONDENSED;
  text-align: justify;
  color: #7a7a7a;
  padding-top: 1em;
  padding-bottom: 1em;
}

.span-de-historia {
  color: #ffff;
  opacity: 0.5;
}

/*-------------------------------FORMULARIO----------------------------------*/
.cont-formulario {
  width: 100%;
  height: auto;
}

/*-------------------------------FOOTER----------------------------------*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 5em;
}

.redes-foot {
  display: flex;
}

.redes-foot-imgs {
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.contact-foot {
  text-align: center;
}

.footer-text-size {
  font-size: 0.4em;
  font-family: roboto CONDENSED;
  color: #7a7a7a;
}

.city-foot {
  display: flex;
}
/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
/*-------------------------------RESPONSIVE----------------------------------*/
@media (max-width: 1280px) {
  /*-------------------------------LA HISTORIA----------------------------------*/
  .cont-historia {
    font-size: 1.5rem;
  }

  .cont-dupla {
    font-size: 1.5rem;
  }
}

@media (max-width: 840px) {
  .cont-title-dupla {
    font-size: 1.7rem;
    margin-top: 5.2em;
    margin-bottom: 0.5em;
  }

  .cont-dupla {
    font-size: 0.8rem;
  }

  /*-------------------------------LA HISTORIA----------------------------------*/
  .cont-historia {
    font-size: 1.1rem;
  }

  .cont-elements-histo {
    width: 29em;
  }

  /*-------------------------------FOOTER----------------------------------*/
  .footer {
    font-size: 1.7rem;
  }
}

@media (max-width: 621px) {
  /*--------BTN HAMBUR--------*/
  #cont-btn-hambur {
    display: block;
  }
  #menu-mobile {
    visibility: visible;
    width: 1em;
    margin-right: 0.7em;
  }
  #cross-mobile {
    display: none;
    visibility: hidden;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.7em;
  }
  #hambur-check:checked ~ * #menu-mobile {
    display: none;
    visibility: hidden;
  }
  #hambur-check:checked ~ * #cross-mobile {
    display: block;
    visibility: visible;
  }
  #hambur-check:checked ~ * #nav-desp {
    display: block;
    visibility: visible;
  }
  #nav-menu {
    font-size: 0.6rem;
    visibility: hidden;
  }
  #nav-desp {
    display: flex;
    bottom: 0;
    padding-top: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #212121;
  }
  .menu-despl {
    font-family: bebas NEUE;
    font-size: 0.7em;
    color: #ffff;
    text-decoration: none;
  }

  /*-------------------------------LA HISTORIA----------------------------------*/
  .cont-elements-histo {
    width: 25em;
  }

  /*-------------------------------FOOTER----------------------------------*/
  .footer {
    font-size: 1.1rem;
  }
}

@media (max-width: 440px) {
  /*----------------HAMBUR----------------*/
  #header {
    font-size: 2.5rem;
  }

  #nav-menu {
    font-size: 0.6rem;
    visibility: hidden;
  }

  /*--------BTN HAMBUR--------*/
  #cont-btn-hambur {
    display: block;
  }

  #menu-mobile {
    visibility: visible;
    width: 1em;
    margin-right: 0.7em;
    width: 0.5em;
    height: 0.5em;
  }

  #cross-mobile {
    display: none;
    visibility: hidden;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.7em;
    width: 0.5em;
    height: 0.5em;
  }

  #hambur-check:checked ~ * #menu-mobile {
    display: none;
    visibility: hidden;
  }

  #hambur-check:checked ~ * #cross-mobile {
    display: block;
    visibility: visible;
  }
  #nav-desp {
    font-size: 2em;
  }
  /*-------------------------------LA DUPLA CREATIVA----------------------------------*/

  .cont-title-dupla {
    font-size: 1.1rem;
  }

  .cont-dupla {
    flex-direction: column;
    align-items: center;
  }

  .cont-mar {
    margin-bottom: 3em;
  }

  /*-------------------------------LA HISTORIA----------------------------------*/
  .cont-historia {
    font-size: 0.6rem;
  }

  /*-------------------------------FOOTER----------------------------------*/

  .footer {
    font-size: 0.8rem;
  }
}
